<footer>
  <mat-divider></mat-divider>
  <div class="content">
    <div>Current version: {{ version }}</div>
    <div>Contact for bug reports / ideas at <a href="mailto:smlcr.app@gmail.com">smlcr.app@gmail.com</a></div>
    <div>Follow the development at <a href="https://trello.com/b/IIfn1sUz/simulacra">Trello</a> or <a href="https://github.com/roonel/simulacra">Github</a></div>
    <div><a mat-button [routerLink]="'/license'">License information</a></div>
    <div>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
        <img alt="Creative Commons License" style="border-width:0"
             src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png"/>
      </a>
    </div>
  </div>
</footer>
