@import '~@angular/material/theming';
@include mat-core();

footer {
  margin-top: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
mat-divider {
  width: 100%;
}

.content {
  font-size: 10px !important;
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: white;
}
