<h2 mat-dialog-title>Relic : {{relic.name}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-form-field>
      <input matInput [(ngModel)]="relic.name" placeholder="Name"/>
    </mat-form-field>

    <app-ability-list-input [(list)]="relic.gameEffects" [title]="'Game Effect'"></app-ability-list-input>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="relic.description"
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="relic.source.book" placeholder="Book"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="relic.source.page"
             placeholder="Book (Page)"/>
    </mat-form-field>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>
