<mat-card>
  <h2>Content list</h2>
  <mat-expansion-panel *ngFor="let c of addedContent">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{c.fileName}}
      </mat-panel-title>
      <mat-panel-description>
        <button mat-icon-button (click)="removeContent(c)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-panel-description>
      <ng-template matExpansionPanelContent>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ancestries
            </mat-panel-title>
            <mat-panel-description>
              {{c.data.ancestries.length}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-list>
              <mat-list-item *ngFor="let a of c.data.ancestries"> {{a.name}}
                <button mat-icon-button>
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
              <mat-list-item>Add new Ancestry</mat-list-item>
            </mat-list>
          </ng-template>
        </mat-expansion-panel>
      </ng-template>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <input type="file" #file name="File Upload"
         id="txtFileUpload" (change)="onFilesAdded($event) " accept=".json "/>
</mat-card>
