<mat-tab-group>
  <mat-tab label="Spell">
    <app-spell-edit [spell]="spell"></app-spell-edit>
    <button mat-flat-button (click)="addSpell()">Add</button>
    <div>
      <p *ngFor="let item of savedSpells; let i = index">
        {{ item.name }} <span (click)="removeSpell(i)"> X </span>
      </p>
    </div>

    <mat-card>
      {{ savedSpells | json }}
    </mat-card>
  </mat-tab>
  <mat-tab label="Tradition">
    <app-tradition-edit [tradition]="tradition"></app-tradition-edit>
    <button mat-flat-button (click)="addTradition()">Add</button>
    <div>
      <p *ngFor="let item of savedTraditions; let i = index">
        {{ item.name }} <span (click)="removeTradition(i)"> X </span>
      </p>
    </div>

    <mat-card>
      {{ savedTraditions | json }}
    </mat-card>
  </mat-tab>
  <mat-tab label="Creature">
    <app-creature-edit [creature]="creature"></app-creature-edit>

    <button mat-flat-button (click)="addCreature()">Add</button>
    <div>
      <p *ngFor="let item of savedCreatures; let i = index">
        {{ item.name }} <span (click)="removeCreature(i)"> X </span>
      </p>
    </div>
    <mat-card>
      {{ savedCreatures | json }}
    </mat-card>
  </mat-tab>
  <mat-tab label="Ancestry">
    <app-ancestry-edit [ancestry]="ancestry"></app-ancestry-edit>

    <button mat-flat-button (click)="addAncestry()">Add</button>
    <div>
      <p *ngFor="let item of savedAncestry; let i = index">
        {{ item.name }} <span (click)="removeAncestry(i)"> X </span>
      </p>
    </div>
    <mat-card>
      {{ savedAncestry | json }}
    </mat-card>
  </mat-tab>

  <mat-tab label="Path">
    <app-path-edit [path]="path"></app-path-edit>

    <button mat-flat-button (click)="addPath()">Add</button>
    <div>
      <p *ngFor="let item of savedPaths; let i = index">
        {{ item.name }} <span (click)="removePath(i)"> X </span>
      </p>
    </div>
    <mat-card>
      {{ savedPaths | json }}
    </mat-card>
  </mat-tab>
  <mat-tab label="Item">
    <app-item-edit [item]="item"></app-item-edit>
    <button mat-flat-button (click)="addItem()">Add</button>
    <div>
      <p *ngFor="let item of savedItems; let i = index">
        {{ item.name }} <span (click)="removeItem(i)"> X </span>
      </p>
    </div>
    <mat-card>
      {{ savedItems | json }}
    </mat-card>
  </mat-tab>
  <mat-tab label="Relic">
    <app-relic-edit [relic]="relic"></app-relic-edit>
    <button mat-flat-button (click)="addRelic()">Add</button>
    <div>
      <p *ngFor="let item of savedRelics; let i = index">
        {{ item.name }} <span (click)="removeRelic(i)"> X </span>
      </p>
    </div>
    <mat-card>
      {{ savedRelics | json }}
    </mat-card>
  </mat-tab>
  <mat-tab label="Table">
    <button mat-flat-button (click)="autoFillTableForStoryDevelopment()">StoryDev</button>
    <app-table-edit [table]="table"></app-table-edit>
    <button mat-flat-button (click)="saveTableJson()">Json</button>
    <button mat-flat-button (click)="saveTableInline()">Inline</button>
    <mat-card>
      {{ savedTable }}
    </mat-card>
  </mat-tab>
</mat-tab-group>
