<mat-form-field>
  <input matInput [(ngModel)]="spell.name" placeholder="Name" />
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="spell.tradition" placeholder="Tradition" />
</mat-form-field>
<mat-form-field>
  <input matInput type="number" [(ngModel)]="spell.level" placeholder="Level" />
</mat-form-field>
<mat-form-field>
  <mat-label>Type</mat-label>
  <mat-select [(value)]="spell.type">
    <mat-option value="Attack">Attack</mat-option>
    <mat-option value="Utility">Utility</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="spell.requirement" placeholder="Requirement" />
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="spell.area" placeholder="Area" />
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="spell.duration" placeholder="Duration" />
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="spell.target" placeholder="Target" />
</mat-form-field>
<mat-form-field>
  <mat-label>Effect</mat-label>
  <textarea
    matInput
    [(ngModel)]="spell.effect"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
  ></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>Triggered</mat-label>
  <textarea
    matInput
    [(ngModel)]="spell.triggered"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
  ></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>Twenty Plus</mat-label>
  <textarea
    matInput
    [(ngModel)]="spell.twentyPlus"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
  ></textarea>
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="spell.afterEffect" placeholder="After Effect" />
</mat-form-field>
<mat-checkbox [(ngModel)]="spell.concetration">
  Concentration
</mat-checkbox>
<mat-form-field>
  <input matInput [(ngModel)]="spell.sacrifice" placeholder="Sacrifice" />
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="spell.special" placeholder="Special" />
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="spell.permanence" placeholder="Permancence" />
</mat-form-field>
<mat-form-field>
  <input matInput [(ngModel)]="spell.source.book" placeholder="Book" />
</mat-form-field>
<mat-form-field>
  <input
    matInput
    type="number"
    [(ngModel)]="spell.source.page"
    placeholder="Book (Page)"
  />
</mat-form-field>

<button mat-flat-button (click)="add()">Add</button>
<div>
  <p *ngFor="let item of savedSpells; let i = index">
    {{ item.name }} <span (click)="remove(i)"> X </span>
  </p>
</div>

<button mat-flat-button (click)="save()">Save</button>

<mat-card>
  {{ savedSpells | json }}
</mat-card>
