<div style="display: flex; flex-direction: row;">
  <div style="flex-grow: 2; flex-basis: 100%; flex-shrink: 1;">
    <app-ancestry-filter (filterChange)="applyFilter($event)" [sources]="bookSources"></app-ancestry-filter>
    <div style="height: 400px; overflow: auto;">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="source">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
          <td mat-cell *matCellDef="let element">{{ element.source.book }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)="select(myRowData)"
            class="selected" [class.selected]="myRowData.id === selected?.id"></tr>
      </table>
    </div>
  </div>
  <div
    style="flex-grow: 1; flex-shrink: 2; flex-basis: 100%; margin-left: 10px;" *ngIf="selected">
    <app-ancestry-details [ancestry]="selected"></app-ancestry-details>
  </div>
</div>
