<ng-container *ngFor="let item of dataList">
  <ng-container [ngSwitch]="item.type">
    <ng-container *ngSwitchCase="'text'">{{ item.value }}</ng-container>
    <ng-container *ngSwitchCase="'break'"><br/></ng-container>
    <ng-container *ngSwitchCase="'header'"><h2>{{ item.value }}</h2></ng-container>
    <ng-container *ngSwitchCase="'bold'"><b>{{ item.value }}</b></ng-container>
    <ng-container *ngSwitchCase="'list'">
      <ul>
        <li *ngFor="let li of item.value">
          <app-processed-text [text]="li"></app-processed-text>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'table'">
      <app-table [table]="item.value"></app-table>
    </ng-container>
    <ng-container *ngSwitchDefault>{{ item.value }}</ng-container>
  </ng-container>
</ng-container>
