.global-search {
  font-size: small;
  width: 250px;
}

.option {
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-name {

}

.option-type {
  text-align: right;
  font-size: smaller;
}

