/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.app-background {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.26);
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #424242;
}

.mat-card-footer {
  padding-left: 5px;
  padding-right: 5px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}
